html{
    background-color: #b7b7b7;
}

img{
    width: 600px;
}
h1{
    text-align: center;
    width: 600px;
    margin: 0%;
}

h2{
    background-color: #ffffff;
    width: 500px;
    margin: 0%;
    border: 50px solid #ffffff;
    border-top: 25px solid #ffffff;
    border-bottom: 25px solid #ffffff;
}

p{
    background-color: #ffffff;
    width: 500px;
    margin: 0%;
    border: 50px solid #ffffff;
    border-top: 0px;
    border-bottom: 25px solid #ffffff;
}

h6{
    background-color: #dfdfdf;
    width: 500px;
    margin: 0%;
    border: 35px solid #dfdfdf;
    border-left: 50px solid #dfdfdf;
    border-right: 50px solid #dfdfdf;
    border-bottom: 20px solid #dfdfdf;
    color: #5f5f5f;
}
